[Unit]
Description=Post install fixes
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/restorecon -rv /var/log/tuned /etc/tuned /usr/lib/tuned
# Remove the service after it successfully runs
ExecStartPost=/bin/systemctl disable firstboot-fixes.service
ExecStartPost=/bin/rm /etc/systemd/system/firstboot-fixes.service
ExecStartPost=/bin/systemctl daemon-reload

[Install]
WantedBy=multi-user.target